In [ ]:
print("Hello World")

### Drawing Shape

In [ ]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

### Variables and Data Types

In [ ]:
print("There once was a man named George, ")
print("he was 70 years old. ")
print("He really liked the name George, ")
print("but didn't lie being 70.")

In [ ]:
character_name = "John"
character_age = "35"

print("There once was a man named " + character_name + ", ")
print("he was " + character_age + " years old. ")
print("He really liked the name " + character_name+", ")
print("but didn't like being " + character_age + ".")

In [ ]:
character_name = "John"
character_age = "35"

print("There once was a man named " + character_name + ", ")
print("he was " + character_age + " years old. ")
character_name = "Mike"
print("He really liked the name " + character_name+", ")
print("but didn't like being " + character_age + ".")

### Strings

In [ ]:
print("Giraffe\nAcademy")
print("Giraffe\"Academy")

In [ ]:
phrase = "Giraffe Academy"    # Concatenation
print(phrase + "is cool.")

In [ ]:
print(phrase.upper())
print(phrase.lower())

In [ ]:
# To check the string is upper case or not
print(phrase.isupper())
print(phrase.upper().isupper())

In [ ]:
print(len(phrase))

In [ ]:
print(phrase[0])
print(phrase[-1])
print(phrase.index("A"))
print(phrase.index("ira"))
print(phrase.index("Z"))
print(phrase.replace("Giraffe","Elephant"))

In [ ]:
print(phrase.replace("Giraffe","Elephant"))

In [ ]:
print(3 + 5)
print(4 * 5)
print(3 * 4 + 5)

In [ ]:
my_num = 5
print(my_num)

In [ ]:
print(pow(3,2))

In [ ]:
print(max(2,8))

In [ ]:
from math import *

In [ ]:
print(floor(3.8))

In [ ]:
print(ceil(3.8))

In [ ]:
name = input("Enter your name: ")
print("Hello "+ name + "!")

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello "+ name + "! You are "+ age+".")

In [ ]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter another number: "))
result = num1 + num2
print(result)

In [ ]:
color = input("Enter a color: ")
plural_noun = input("Enter a plural Noun: ")
celebraity = input("Enter a celebraity: ")

print(f"Roses are {color}")
print(f"{plural_noun} are blue")
print(f"I love {celebraity}")

### Lists

In [ ]:
friends = ["kevin", "Karen", "Jim"]
print(friends)

In [ ]:
print(friends[2])

In [ ]:
print(friends.index("Jim"))
print(friends[1:])

### List Functions

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["kevin", "karen", "Jim", "Oscar", "Toby"]
print(friends)

In [ ]:
friends.extend(lucky_numbers)

In [ ]:
print(friends)

In [ ]:
friends.append("Jivin")

In [ ]:
friends.insert(1,"Stephy")
print(friends)

In [ ]:
friends.remove("Toby")
print(friends)

In [ ]:
friends.clear()
print(friends)

In [ ]:
friends.pop()

In [ ]:
print(friends)

In [ ]:
print(friends.index("Oscar"))

In [ ]:
print(friends.count("Jim"))

In [ ]:
friends.sort()

In [ ]:
print(friends)

In [ ]:
lucky_numbers.sort()
print(lucky_numbers)

In [ ]:
lucky_numbers.reverse()
print(lucky_numbers)

In [ ]:
friends2 = friends.copy()

In [ ]:
print(friends2)

### Tuples

In [ ]:
coordinates = (4,5)
print(coordinates[0])

In [ ]:
coordinates = [(4,6),(7,9)]
coordinates[0]=(7,8)
print(coordinates[0])

### Functions

In [ ]:
def sayhi():
    print("Hello user")
sayhi()

In [ ]:
def sayhi():
    print("Hello user")
print("TOp")
sayhi()
print("Bottom")

In [ ]:
def sayhi(name,age):
    print("Hi "+ name + " and your age is "+ str(age))
sayhi("Silvester",28)

### Return statement

In [ ]:
def cube(num):
    return num * num * num
result = cube(4)
print(result)

### If sttatement

In [ ]:
is_male = False
if is_male:
    print("You are male")
else:
    print("You are not male")

In [ ]:
is_male = True
is_tall = True
if is_male or is_tall:
    print("You are a male or tall or both")
else:
    print("You are neither male nor tall")

In [ ]:
is_male = True
is_tall = False
if is_male and is_tall:
    print("You are a tall male")
elif is_male and not(is_tall):
    print("You are short male")
elif not(is_male) and is_tall:
    print("You are not a male but tall")
else:
    
    print("You are  not male or not tall ")

In [ ]:
def max_num(num1, num2, num3):
    if num1>= num2 and num1>=num3:
        return num1
    elif num2>= num1 and num2>=num3:
        return num2
    else:
        return num3
max_num(3,11,6)

### Better Caculator

In [ ]:
num1 = float(input("Enter the first number: "))
operator = input("Enter the operator: ")
num2 = float(input("Enter the second number: "))
if operator == "+":
    print(num1 + num2)
elif operator == "-":
    print(num1 - num2)
elif operator == "*":
    print(num1 * num2)
elif operator == "/":
    print(num1 / num2)
else:
    print("Cannot do the opeation because its an invalid operator")

#### Dictionaries

In [ ]:

monthConversion = {
    "Jan": "January",
    "Feb": "February",
    "Mar": "March",
    "Apr": "April",
    "May": "May",
    "Jun": "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "Nov": "November",
    "Dec": "December"
}
print(monthConversion["Jan"])
print(monthConversion.get("Luv"))

### While loop

In [ ]:
i = 1
while (i <= 10):
    print(i)
    i = i+1
print("Done with the loop")

In [ ]:
secret_word = "girrafe"
guess = " "
guess_count = 0
guess_limit = 3
out_of_guesses = False
while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input("Enter the guess: ")
        guess_count += 1

    else:
        out_of_guesses = True
if out_of_guesses:
    print("Out of guesses, You lose")
else:
print("You win")

In [ ]:
secret_word = "girrafe"
guess = " "
guess_count = 0
guess_limit = 3
out_of_guesses = False
while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input("Enter the guess: ")
        guess_count += 1

    else:
        out_of_guesses = True
if out_of_guesses:
    print("Out of guesses, You lose")
else:
    print("You win")

In [ ]:
for letter in "Giraffe Academy":
    print(letter)

In [ ]:
friends = ['jim','kevin','sam']
for name in friends:
    print(name)

In [ ]:
for index in range(10):
    print(index)

In [ ]:
for index in range(3,10):
    print(index)

In [ ]:
for index in range(5):
    if index == 0:
        print("first iteration")
    else:
        print("Not first")

#### Exponent function

In [ ]:
def raise_to_power(base_num ,pow_num):
    result = 1
    for index in range(pow_num):
        result = result * base_num
    return result
print(raise_to_power(3,2))

### 2D Dimensional Array and Nested loops

In [3]:
number_grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0]
]
print(number_grid[2][2])

9

In [4]:
for row in number_grid:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[0]

In [5]:
for row in number_grid:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
0

In [19]:
def translate(phrase):
    translation = ""
    for letter in phrase:
        if letter.lower() in "aeiou":
            if letter.isupper():
                translation = translation + "G"
            else:
                translation = translation + "g"
        else:
            translation = translation + letter
    return translation
print(translate(input("Enter a phrase: ")))

Enter a phrase: ON
GN

### Try Except

In [ ]:
try: 
    value = 10/0
    number = int(input("Enter a number"))
    print(number)

except ZeroDivisionError:
    print("Divided by Zero")
except ValueError:
    print("Invaild input")

In [ ]:
employee_fle = open("Employees.txt","r")
print(employee_fle.read())